@import url('https://fonts.googleapis.com/css?family=Lato:400,900');

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

div.row {
  margin-left: -15px;
  margin-right: -15px;
}

.row > .field,
.row > .label {
  padding-left: 15px;
  padding-right: 15px;
}

html {
  color: #4f463f;
}

body {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  background-color: #faf2e6;
  font-size: 18px;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

/* Imitate bootstrap container */
@media (min-width: 576px) {
  body {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  body {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  body {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  body {
    max-width: 1140px;
  }
}

h1,
h2 {
  font-weight: normal;
  color: #77695c;
}

@media (min-width: 992px) {
  #wrapper {
    width: 60%;
    margin: 0 auto;
  }
}

.error_area {
  color: #dc3545;
  padding: 5px 20px;
  display: inline-block;
}

.error_area:not(.bottom) {
  display: none;
}

label.error_list > span:not(:first-of-type)::before {
  /*
    Fundraisingbox can sometimes display more than one error message per input field. An example of this is if
    you input an invalid IBAN. Then Fundraisingbox will display an error message saying it's invalid, AND an error
    message saying it's a required field.

    There's no spacing between these error messages, and the first error message (the "field invalid" one) doesn't
    include punctuation. Hence we need a period and some space in order to properly separate these error messages.

    We don't want to add the period+space at the end of every error message, as they might already end in a period
    (like the "is required" error message already does).
    Rather, we add it at the start of any error message that's not the first.
  */
  content: '. ';
}

#amountBox,
#donorData {
  display: none;
}

.paymentDetails {
  margin-top: 15px;
}

.paymentDetails .row {
  margin-bottom: 1rem;
}

.paymentDetails .row .label {
  margin-bottom: 7px;
}

.paymentDetails div.field {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

label.verror {
  color: #ff621d;
  margin-left: 0.4rem;
}

input[type='text'],
select {
  background-color: #fffdfb;
}

input#submitForm {
  margin-bottom: 30px;
  cursor: pointer;
  border-radius: 20px;
  border: 3px solid #17dd73;
  font-weight: 900;
  color: #00c078;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline: none;
  background-color: transparent;
  font-size: 18px;
  padding: 9px 23px;
  font-family: 'Lato', sans-serif;
}

input#submitForm:hover {
  color: white;
  background-color: #17dd73;
}

#bankConfirmation {
  margin-top: 10px;
}

#bankConfirmation p {
  display: inline;
}

.paymentDetails input[type='text'],
.paymentDetails select {
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  outline: none;
  font-size: 16px;
}

.paymentDetails div.field input[type='text']:focus,
.paymentDetails select:focus {
  border-color: #80bdff;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.paymentDetails div.field {
  width: 100%;
}

.paymentDetails > h2:first-of-type {
  display: none;
}

.paymentDetails div.field > input {
  width: 100%;
}

#paymentmethods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

#paymentMethodBox > h1 {
  display: none;
}

#paymentmethods label {
  cursor: pointer;
  padding-left: 60px;
  height: 40px;
  display: inline-block;
  background-image: url(https://masifunde.netlify.com/static/images/fundraisingbox_payment_icons.png);
  background-repeat: no-repeat;
}

#paymentmethods input#sepa_direct_debit + label {
  background-position: 5px -160px;
  padding-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#paymentmethods input#sepa_direct_debit + label span {
  display: inline;
}

#paymentmethods input#sofortueberweisung + label {
  background-position: 5px -120px;
  padding-left: 70px;
}

#paymentmethods input#paypal + label {
  background-position: 5px -80px;
  padding-left: 105px;
}

#paymentmethods .paymentmethod {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 20px;
  margin-top: 10px;
}

#paymentmethods label span {
  display: none;
}

/* Bootstrap breakpoint sm. Small devices (landscape phones, 576px and up) */
@media (min-width: 768px) {
  #paymentmethods {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

div#bankConfirmation,
div#additionalSettings,
div#securityBox,
input#submitForm {
  margin-left: calc(25% + 8px);
}

@media (max-width: 768px) {
  div#bankConfirmation,
  div#additionalSettings,
  div#securityBox,
  input#submitForm {
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .row > .label {
    width: 25%;
    text-align: right;
    padding-right: 0;
  }

  .row > .field {
    width: 66.666667%;
  }

  .paymentDetails div.field {
    width: 66.666667%;
    margin-right: auto;
  }

  .paymentDetails div.field > input {
    width: 100%;
  }

  .paymentDetails .row .label {
    margin-bottom: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

#bankConfirmation,
#additionalSettings,
#securityBox {
  font-size: 14px;
}

div.alert > div.shariff {
  padding-bottom: 50px;
}
